*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-family: "Manrope", sans-serif;
  --font-size: 13px;

  /* Colors */
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-light-grayish-blue);
}

main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

.card {
  width: 100%;
  max-width: 54.5em;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3em 2em -0.5em hsl(217, 19%, 90%);
  border-radius: 0.875em;
  overflow: hidden;
}

.card-header {
  flex: 0.8;
}

.card-img-wrapper {
  height: 100%;
}

.card-img-wrapper img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.card-content {
  flex: 1;
  padding: 2.5em 3em;
}

.card-title {
  font-size: 1.2rem;
  color: var(--color-very-dark-grayish-blue);
}

.card-desc {
  margin: 0.8em 0 1.5em;
  color: var(--color-desaturated-dark-blue);
  line-height: 1.7;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3em;
}

.user-info {
  flex-grow: 1;
}

.user-img-wrapper {
  width: 2.9em;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  font-size: 1em;
  color: var(--color-very-dark-grayish-blue);
}

.date {
  font-size: 0.95em;
  color: var(--color-grayish-blue);
  margin-top: 0.2em;
}

.share-btn {
  padding: 0.6em;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
}

.share-overlay {
  display: none;
}
