*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Font */
  --font-family: "Manrope", sans-serif;
  --font-size: 13px;

  /* Colors */
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
  --color-white: hsl(0, 0%, 100%);

  /* Transitions */
  --transition-200ms: all 0.2s ease-in-out;
  --transition-200ms-linear: all 0.2s linear;
  --transition-300ms: all 0.3s ease-in-out;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  background-color: var(--color-light-grayish-blue);
}

main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

img {
  width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

button {
  background: none;
  color: inherit;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

.card-container {
  position: relative;
}

.card {
  width: 100%;
  max-width: 54.5em;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 3em 2em -0.5em hsl(217, 19%, 90%);
  border-radius: 0.875em;
  overflow: hidden;
}

.card-header {
  flex: 0.8;
}

.card-img-wrapper {
  height: 100%;
}

.card-img-wrapper img {
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.card-content {
  flex: 1;
  padding: 2.5em 3em;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.2rem;
  color: var(--color-very-dark-grayish-blue);
}

.card-desc {
  margin: 0.8em 0 1.5em;
  color: var(--color-desaturated-dark-blue);
  line-height: 1.7;
  flex-grow: 1;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3em;
}

.user-info {
  flex-grow: 1;
}

.user-img-wrapper {
  width: 2.9em;
  border-radius: 50%;
  overflow: hidden;
}

.user-name {
  font-size: 1em;
  color: var(--color-very-dark-grayish-blue);
}

.date {
  font-size: 0.95em;
  color: var(--color-grayish-blue);
  margin-top: 0.2em;
}

.share-btn {
  padding: 0.6em;
  border-radius: 50%;
  background-color: var(--color-light-grayish-blue);
  transition: var(--transition-300ms);
}

.share-btn img {
  transition: var(--transition-200ms);
}

.share-btn:hover,
.share-btn:focus,
.share-btn.active {
  background-color: var(--color-very-dark-grayish-blue);
}

.share-btn:hover img,
.share-btn:focus img,
.share-btn.active img {
  filter: saturate(100%) brightness(0) invert(99%) sepia(0%) saturate(0%)
    hue-rotate(259deg) brightness(105%) contrast(100%);
}

.share-overlay {
  position: absolute;
  top: 46.5%;
  right: -5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 1.2em 3em;
  background-color: var(--color-very-dark-grayish-blue);
  border-radius: 0.875em;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 1em 1em -0.5em hsl(217, 19%, 90%);
  transition: var(--transition-200ms-linear);
}

.share-overlay::before {
  content: "";
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: inherit;
  box-shadow: 0.8em 0.8em 0.8em -0.2em hsl(217, 19%, 90%);
}

.share-overlay.active {
  opacity: 1;
  visibility: visible;
}

.share-text {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--color-grayish-blue);
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.overlay-share-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 30em;
    min-height: 38.5em;
    flex-direction: column;
  }

  .card-header {
    flex: unset;
    height: 15em;
  }

  .card-img-wrapper img {
    object-position: 50% 30%;
  }

  .share-overlay {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .card-content {
    padding: 2.8em 2.5em 1.5em;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-desc {
    margin-bottom: 2em;
  }
}
